{% extends 'layout/info.html' %}

{% block content %}
  <div>
    <form role="form" action="/info/add" method="POST">
      <h1>Add an information</h1>
      <div class="line">
        <label>Information</label>
        <input type="text" name="sender">
      </div>  
      <div class="line">
        <label>Tags</label>
        <input type="text" name="number">
      </div>
      <div class="line text-right">
        <input type="submit" value="Send">
      </div>
    </form>
  </div>
{% endblock %}
