{% extends 'layout/info.html' %}

{% block content %}
  <div class="row">
    <form role="form" action="/info/add" method="POST" class="col-sm-6 col-sm-offset-3" id="add-info-form">
      <h3 class="h4">Ajouter une information</h3>

      {% include 'partials/alerts.html' %}

      <div class="text-left">
        <label>
          <textarea rows="8" name="info" id="info" class="form-control" placeholder="Entrez votre information"></textarea>
        </label>
      </div>  
      <div class="text-left">
        <label>
          <input type="text" name="tags" id="tags" class="form-control" placeholder="Renseignez vos tags">
        </label>
      </div>
      <div class="text-center">
        <input type="submit" value="Envoyer" class="btn btn-primary">
      </div>
    </form>
  </div>
  <script src="/scripts/server/addInfo.js"></script>
{% endblock %}
